@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    overflow-x: hidden;
}

#pause-play {
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
}

.loading {
    top: calc(50vh - 60px);
    left: calc(50vw - 60px);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}